@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

.destajo {
  background-color: rgba(125, 200, 243);
}
.destajo-opaco {
  background-color: rgba(125, 200, 243, 0.5);
}

.bono {
  background-color: rgba(251, 191, 36);
}
.bono-opaco {
  background-color: rgba(251, 191, 36, 0.5);
}

.deduccion {
  background-color: rgba(248, 113, 113);
}
.deduccion-opaco {
  background-color: rgba(248, 113, 113, 0.5);
}
